.post-list {
  width: 70%;
  margin: auto;
}
.alert-in {
  background-color: #041e50;
  color: #ffff;
}
.alert-in:hover {
  background-color: #041e50;
}

.btn-in {
  background-color: #041e50;
  color: #bbb;
}
